 body {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    font-style: normal;
}

li {
    list-style: none;
}
  
img {
    display: block;
    max-width: 100;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.img {
    display: block;
    max-width: 100;
    height: auto;
}



.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link:hover,
.link:focus{
    color: #2196F3;
}

.top-navigation{
    display: flex;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    color: #000000;
}

.header-logo {
    color: #2196F3;
}



.menu-list {
    display: flex;
}

.menu-item {
    margin-left: 50px;
}

.menu{
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.header-contakt{
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.list-contact{
    display: flex;
    margin-left: auto;
}

.list-contact > .item{
    margin-left: 50px;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;


    color: #212121;
}

    .advantages {}

    .advantages {}

    .attention-list {
        display: flex;
    }

    .advantages-title {
        font-style: normal;
        color: #757575;
        background-color: #2F303A;
    }

    .logo {
        color: #2196F3;
    }

    .logo-footer {
        color: #FFFFFF;
    }

    